<div class="container">
  <p-card class="question-card">
    <ng-template pTemplate="header">
      <h3 class="question-title">{{ question }}</h3>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="options">
        <div *ngFor="let option of options" class="option">
          <p-radioButton
            name="{{ preguntaId }}"
            [value]="option.value"
            [ngModel]="currentSelectedOption"
            (onClick)="onOptionChange(option.value)"
            [inputId]="preguntaId + option.value"
          ></p-radioButton>
          <label
            [for]="preguntaId + option.value"
            class="option-label"
          >
            {{ option.label }}
          </label>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>