<div class="login-container">
  <!-- Lado izquierdo: Imagen decorativa -->
  <div class="login-image-side">
    <div class="image-container">
      <img
        src="assets/images/login-image.jpg"
        alt="Login Image"
        class="login-image"
      />
      <div class="overlay-text">
        <h2>¡Bienvenido a nuestra aplicación!</h2>
        <p>
          Inicie sesión o regístrese para acceder a todas las funcionalidades
        </p>
      </div>
    </div>
  </div>

  <!-- Lado derecho: Formulario de login/registro -->
  <div class="login-form-side">
    <p-card class="form-container">
      <ng-template pTemplate="title">
        <div class="login-header">
          <img src="assets/images/logo.png" alt="Logo" class="logo" />
          <h1 *ngIf="isLoginMode">Iniciar Sesión</h1>
          <h1 *ngIf="!isLoginMode">Registrarse</h1>
        </div>
      </ng-template>

      <p-toast></p-toast>

      <!-- Botones para alternar entre Inicio de Sesión y Registro -->
      <div class="toggle-form-buttons">
        <button
          pButton
          type="button"
          label="Iniciar Sesión"
          class="p-button-secondary"
          [style]="{ 'margin-right': '0.5rem' }"
          (click)="switchToLogin()"
          [disabled]="isLoginMode"
        ></button>
        <button
          pButton
          type="button"
          label="Registrarse"
          class="p-button-secondary"
          (click)="switchToRegister()"
          [disabled]="!isLoginMode"
          pTooltip="Registre su empresa"
          tooltipPosition="right"
        ></button>
      </div>

      <!-- Formulario de Inicio de Sesión -->
      <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
          <div class="field">
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <p-floatlabel>
                <input
                  id="username"
                  pInputText
                  formControlName="username"
                  [ngClass]="{
                    'ng-dirty ng-invalid':
                      f['username'].invalid && f['username'].touched
                  }"
                />
                <label for="username">Nombre de Usuario</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="f['username'].touched && f['username'].errors?.['required']"
              class="p-error"
            >
              Nombre de usuario es requerido
            </small>
          </div>

          <div class="field">
            <span class="p-input-icon-left">
              <p-floatlabel>
                <i class="pi pi-lock"></i>
                <p-password
                  id="password"
                  formControlName="password"
                  [toggleMask]="true"
                  [feedback]="false"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f['password'].invalid && f['password'].touched
                  }"
                >
                </p-password>
                <label for="password">Contraseña</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="f['password'].errors?.['required'] && f['password'].touched"
              class="p-error"
            >
              Contraseña es requerida
            </small>
          </div>

          <div class="login-footer">
            <button
              pButton
              type="submit"
              label="Iniciar Sesión"
              icon="pi pi-sign-in"
              [loading]="loading"
              class="p-button-primary"
              [disabled]="!loginForm.valid"
            ></button>
          </div>
        </div>
      </form>

      <!-- Formulario de Registro -->
      <form
        *ngIf="!isLoginMode"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <div class="p-fluid">
          <div class="field">
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <p-floatlabel>
                <input
                  id="name"
                  type="text"
                  pInputText
                  formControlName="Nombre"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      r['Nombre'].invalid && r['Nombre'].touched
                  }"
                />
                <label for="name">Nombre Empresa</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="r['Nombre'].touched && r['Nombre'].errors?.['required']"
              class="font-bold"
            >
              El nombre de la empresa es requerido
            </small>
          </div>
          <div class="field">
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <p-floatlabel>
                <input
                  id="sector"
                  type="text"
                  pInputText
                  formControlName="Sector"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      r['Sector'].invalid && r['Sector'].touched
                  }"
                />
                <label for="sector">Sector Empresa</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="r['Sector'].touched && r['Sector'].errors?.['required']"
              class="font-bold"
            >
              El sector de la empresa es requerido
            </small>
          </div>

          <div class="field">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <p-floatlabel>
                <input
                  id="email"
                  type="email"
                  pInputText
                  formControlName="CorreoUsuario"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      r['CorreoUsuario'].invalid && r['CorreoUsuario'].touched
                  }"
                />
                <label for="email">Correo electrónico</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="r['CorreoUsuario'].errors?.['required'] && r['CorreoUsuario'].touched"
              class="font-bold"
            >
              Correo electrónico es requerido
            </small>
          </div>

          <div class="field">
            <span class="p-input-icon-left">
              <p-floatlabel>
                <i class="pi pi-lock"></i>
                <p-password
                  id="PasswordUsuario"
                  formControlName="PasswordUsuario"
                  [toggleMask]="true"
                  [feedback]="true"
                  mediumLabel="Media"
                  strongLabel="Fuerte"
                  weakLabel="Débil"
                  promptLabel="Digite una contraseña"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      r['PasswordUsuario'].invalid && r['PasswordUsuario'].touched
                  }"
                >
                </p-password>
                <label for="PasswordUsuario">Contraseña</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="r['PasswordUsuario'].errors?.['required'] && r['PasswordUsuario'].touched"
              class="p-error"
            >
              Contraseña es requerida
            </small>
          </div>


          <div class="field">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <p-floatlabel>
                <input
                  id="Clasificacion"
                  type="text"
                  pInputText
                  formControlName="Clasificacion"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      r['Clasificacion'].invalid && r['Clasificacion'].touched
                  }"
                />
                <label for="Clasificacion">Clasificacion Empresa</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="r['Clasificacion'].errors?.['required'] && r['Clasificacion'].touched"
              class="font-bold"
            >
            Clasificacion Empresa es requerido
            </small>
          </div>


          <div class="field">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <p-floatlabel>
                <input
                  id="Estado"
                  type="text"
                  pInputText
                  formControlName="Estado"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      r['Estado'].invalid && r['Estado'].touched
                  }"
                />
                <label for="Estado">Estado Empresa</label>
              </p-floatlabel>
            </span>
            <small
              *ngIf="r['Estado'].errors?.['required'] && r['Estado'].touched"
              class="font-bold"
            >
            Estado Empresa es requerido
            </small>
          </div>


          <div class="login-footer">
            <button
              pButton
              type="submit"
              label="Registrarse"
              icon="pi pi-user-plus"
              [loading]="loading"
              class="p-button"
              [disabled]="!registerForm.valid"
            ></button>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
