@import "primeicons/primeicons.css";
*{
    font-family: sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}